/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-top: 1px solid #e7e7e7;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.navbar {
    margin: 0;
    border-radius: 0;
}
body { padding-top: 50px; }

  body {
    font-family: 'Lato';
  }

  .fa-btn {
    margin-right: 6px;
  }

  form > .panel {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .cristi-highlight-cells td:hover {
    background-color: #eee;
  }

.badge {
display: inline;
background: #D9534F;
}

.show_if_live {
    display: none;
}

.show_etape {
    display: block;
}

.right-corners-left {
border-left: none;
border-top-left-radius:0;
border-bottom-left-radius:0;
}

.right-corners-right {
border-right: none;
border-top-right-radius:0;
border-bottom-right-radius:0;
}

.right-corners-both {
    border-left: none;
    border-right: none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

@media(max-width:991px) {
    .right-corners-left, .right-corners-right {
    border-left: none;
    border-right: none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    }
}

.tall-panel {
min-height: 300px;
}

.center-inline {
margin: 0 auto;
}

.list-inline > li{
display: block;
margin: 10px 0;
}

.titlu-licitatie {
display: inline;
}

h3.titlu-licitatie {
padding: 0 5px;
}
#participant-oferte {
margin: 0;
}
#camp-adauga-oferta {
position: absolute;
max-width: 300px;
margin: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dropdown {
display: inline;
}


.dropdown-menu > li > .btn {
    text-align: left;
    padding: 3px 20px;
border: none;
border-radius: 0;
display: block;
width: 100%;
}

#participant-name {
    padding: 3px 20px;
}

#participant-name:hover {
}

#participant-name select {
    min-width: 100px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.row-margin {
margin: 15px !important;
}

.row-margin-double {
margin: 30px !important;
}

#chat {
    height: 300px;
    overflow-y: scroll;
    margin: 0;
}

#chat li {
    border-bottom: 1px dotted lightgray;
    padding: 10px;
}

#chat-panel-body {
    padding: 0;
}
